* {
  margin: 0;
  padding: 0;
}

.main-text, .top-links p, .container-audio p, .container-video, .care p, .all, .menu-items, .refine, .font-size {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: #555555;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  width: 1312px;
  margin: 22px auto;
  align-items: center;
}

@media (max-width: 500px) {
  .top-panel {
    width: 320px;
    margin: 16px auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .top-panel {
    width: 768px;
  }
}
.top-panel-left {
  display: flex;
  width: 315px;
}

@media (max-width: 500px) {
  .top-panel-left {
    width: 82px;
  }

  .arrow {
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .top-panel-left {
    margin-left: 16px;
    width: 180px;
  }
}
.daily-activities {
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #999999;
  margin: 3px 0 0;
  padding-left: 8px;
}

.bathing-showering {
  height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.38px;
}

@media (max-width: 500px) {
  .bathing-showering {
    overflow: auto;
    text-overflow: ellipsis;
    width: 142px;
    height: 28px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.1px;
  }
}
.top-panel-right {
  display: flex;
  justify-content: flex-end;
  width: 315px;
}

@media (max-width: 500px) {
  .top-panel-right {
    width: 82px;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .top-panel-right {
    margin-right: 16px;
    width: 180px;
    justify-content: space-between;
  }

  .bathing-showering {
    font-size: 22px;
  }
}
.size-img {
  width: 28px;
  height: 28px;
  padding-right: 8px;
  padding-left: 32px;
}

.search {
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: #999999;
  padding-top: 3px;
}

#search-img {
  padding-left: 0;
  padding-right: 8px;
}

.sandwich {
  display: none;
}

.font-size {
  height: 24px;
  color: #999999;
  padding-top: 3px;
}

.circle {
  width: 28px;
  height: 28px;
  background: #83a7c9;
  border-radius: 50%;
  margin-left: 32px;
}

@media (max-width: 500px) {
  .daily-activities {
    display: none;
  }

  .search {
    display: none;
  }

  .font-size {
    display: none;
  }

  .circle {
    display: none;
  }

  .size-img {
    display: none;
  }

  .sandwich {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .search {
    display: none;
  }

  .font-size {
    display: none;
  }
}
.hr-top {
  width: 1312px;
  height: 1px;
  background-color: #dddddd;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0px;
}

@media (max-width: 500px) {
  .hr-top {
    width: 320px;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hr-top {
    width: 768px;
    margin-bottom: 64px;
  }
}
.container {
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 500px) {
  .container {
    width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 704px;
  }
}
.your-mom {
  width: 580px;
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.66px;
  color: #000000;
}
.your-mom span {
  color: #ffc501;
}

@media (max-width: 500px) {
  .your-mom {
    width: 280px;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }
}
.refine {
  margin-top: 40px;
  margin-bottom: 8px;
  margin-left: 4px;
}

.re-2 {
  display: none;
}

@media (max-width: 500px) {
  .refine {
    margin-left: 0;
  }

  .re-1 {
    display: none;
  }

  .re-2 {
    display: inline;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .refine {
    margin-left: 0;
    margin-bottom: 0;
  }
}
.menu {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.menu-items {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 35px;
  border-radius: 4px;
  margin-right: 16px;
  background-color: #f7f7f7;
}
.menu-items div {
  margin-left: 8px;
}
.menu-items img {
  margin-top: -4px;
}

.menu-items:first-child {
  color: #000000;
  background-color: #ffc501;
  margin-left: 4px;
}

.menu-items:last-child {
  margin-right: 0;
  padding-right: 28px;
  padding-left: 16px;
  display: inline-flex;
}

@media (max-width: 500px) {
  .menu {
    margin-bottom: 40px;
  }

  .menu-items {
    margin-top: 8px;
  }

  .menu-items:first-child {
    margin-left: 0;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu {
    margin-bottom: 64px;
  }

  .menu-items {
    margin-top: 8px;
  }

  .menu-items:first-child {
    margin-left: 0;
  }
}
.choice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.choice :first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.38px;
  color: #000000;
}

@media (max-width: 500px) {
  .choice {
    margin-bottom: 16px;
  }
  .choice :first-child {
    width: 200px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.28px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .choice {
    margin-bottom: 20px;
  }
}
.all {
  height: 24px;
  color: #000000;
  margin-top: 8px;
  text-align: right;
  background: linear-gradient(3600deg, #fff3cc 30%, white 50%);
}

.all.view {
  display: none;
}

@media (max-width: 500px) {
  .all {
    display: none;
  }

  .all.view {
    display: flex;
    margin-top: 0;
  }
}
.hr-all {
  width: 950px;
  height: 1px;
  background-color: #dddddd;
  border-style: none;
  border-width: 0px;
}

.hr-all.hidden {
  margin-top: 16px;
  display: none;
}

@media (max-width: 500px) {
  .hr-all {
    width: 280px;
  }

  .hr-all.hidden {
    display: flex;
    margin-top: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hr-all {
    width: 704px;
  }
}
.container-care {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 16px;
}

.care {
  display: flex;
  justify-content: space-between;
}
.care p {
  width: 760px;
}
.care div {
  margin-top: -4px;
}

.container-care:last-child {
  margin-bottom: 80px;
}

#media-text {
  display: none;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.35px;
  color: #999999;
}

@media (max-width: 500px) {
  .container-care {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .container-care:last-child {
    margin-bottom: 40px;
  }

  .care span {
    display: none;
  }

  #media-text {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-care {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 8px;
  }

  .care p {
    width: 600px;
  }

  .container-care:last-child {
    margin-bottom: 64px;
  }
}
.container-video {
  display: flex;
  margin-top: 32px;
  margin-bottom: 72px;
}

.border-video {
  background-color: white;
  padding: 8px;
  margin-left: 4px;
}

.instance-video {
  width: 220px;
}

.border-video:first-child {
  margin-left: -8px;
  background-color: #f7f7f7;
}

.border-video:last-child {
  margin-right: 2px;
}

@media (max-width: 500px) {
  .container-video {
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 16px;
  }

  .border-video {
    margin-left: 0;
    padding: 0;
  }

  .border-video:first-child {
    margin-left: 0;
    background-color: white;
    margin-bottom: 16px;
  }

  .border-video:last-child {
    margin-right: 0;
  }

  .instance-video {
    width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-video {
    margin-top: 24px;
    margin-bottom: 56px;
  }

  .border-video.media.ipad {
    display: none;
  }
}
.picture-video {
  height: 138px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.picture-video.active {
  background-color: rgba(51, 51, 51, 0.6);
  background-blend-mode: multiply;
}

.star-video {
  text-align: right;
  padding-top: 8px;
  padding-right: 8px;
}

.star-video-media {
  display: none;
}

.time-video {
  text-align: right;
  padding-top: 14px;
  padding-right: 8px;
  font-weight: 600;
  color: #ffffff;
}

.time-video-media {
  display: none;
}

.play-video {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #ffc501;
  border-radius: 24px;
  margin-left: 86px;
  margin-top: 2px;
  visibility: hidden;
}
.play-video img {
  width: 42px;
  height: 42px;
  padding-top: 4px;
  padding-left: 3px;
}

.play-video.active {
  visibility: visible;
}

@media (max-width: 500px) {
  .picture-video.active {
    background-color: white;
    background-blend-mode: normal;
  }

  .play-video.active {
    visibility: hidden;
  }

  .border-video.media {
    display: none;
  }

  .time-video-media {
    display: inline-block;
  }

  .time-video-decstop {
    display: none;
  }

  .star-video-media {
    display: inline-block;
  }

  .star-video-decstop {
    display: none;
  }
}
.selected-audio {
  width: 950px;
  background-color: #f7f7f7;
  margin-top: 0;
  margin-bottom: 80px;
}

@media (max-width: 500px) {
  .selected-audio {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .selected-audio {
    width: 704px;
    margin-bottom: 64px;
  }
}
.container-audio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 16px;
}
.title-audio {
  display: flex;
  justify-content: space-between;
}

.number-audio {
  margin: 0 8px;
}

.number-audio-media {
  display: none;
}

.text-title-audio {
  width: 546px;
  margin-left: 16px;
}

.text-title-audio-media {
  display: none;
}

.play {
  width: 30px;
  height: 30px;
  background-color: #ffc501;
  border-radius: 50%;
}
.play img {
  position: relative;
  top: 1px;
  left: 1px;
}

.time-audio {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .container-audio {
    padding: 16px 0 16px 8px;
  }

  .number-audio {
    margin: 0;
    margin-right: 8px;
  }

  .text-title-audio {
    margin-left: 0;
    width: 166px;
  }

  .text-title-audio-media {
    display: inline-block;
  }

  .text-title-audio-decstop {
    display: none;
  }

  .time-audio {
    width: 64px;
  }

  .number-audio-media {
    display: inline-block;
  }

  .number-audio-decstop {
    display: none;
  }

  .podcasts {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-audio {
    padding: 24px 8px;
  }

  .text-title-audio {
    width: 456px;
  }

  .time-audio {
    width: 160px;
  }
}
.links {
  margin-top: 24px;
  margin-bottom: 24px;
}

.links:last-child {
  margin-bottom: 80px;
}

.top-links {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  margin-bottom: 8px;
}
.top-links p {
  width: 808px;
}
.top-links img {
  margin-top: -4px;
  width: 28px;
  height: 28px;
}

.bottom-links {
  display: flex;
}
.bottom-links img {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bottom-links p {
  display: inline-block;
  margin: 0;
  margin-left: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.35px;
  color: #999999;
}

@media (max-width: 500px) {
  .links {
    margin: 16px 0;
  }

  .links:last-child {
    margin-bottom: 40px;
    margin-top: 8px;
  }

  .top-links {
    margin-right: 0;
    margin-bottom: 2px;
  }

  .bottom-links p {
    width: 220px;
    overflow: auto;
    text-overflow: ellipsis;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .links:last-child {
    margin-bottom: 64px;
  }

  .top-links {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .top-links p {
    width: 624px;
  }
}
.read-important-document {
  margin: 24px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.icon-and-text {
  display: flex;
  width: 700px;
}

.main-text {
  margin-bottom: 8px;
}

.main-text.media {
  display: none;
}

.time-text {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.35px;
  color: #999999;
}

.icons {
  margin-right: 16px;
}

@media (max-width: 500px) {
  .read-important-document {
    margin: 16px 0;
  }

  .icons {
    margin-right: 9px;
  }

  .main-text.media {
    display: inline-block;
  }

  .main-text.decstop {
    display: none;
  }

  .time-text {
    display: none;
  }

  .important-documents {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .read-important-document {
    margin: 24px 8px;
  }

  .icon-and-text {
    width: 624px;
  }
}
.footer {
  width: 1312px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.32px;
  color: #999999;
}

@media (max-width: 500px) {
  .footer {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 768px;
    margin-top: 64px;
  }
  .footer p {
    padding-left: 8px;
    padding-right: 8px;
  }
}